.container_firstHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.container_division {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container_division_secondHeading {
    // centering the text in the div
    text-align: center;
    padding: 10px;
}