.defaultPageHeadingStyle1 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #0083b0 43%,
        #0083b0 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .defaultPageHeadingStyle2 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #ff9200 43%,
        #ff9200 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .defaultPageHeadingStyle3 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #644be1 43%,
        #644be1 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .defaultPageHeadingStyle4 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #D50078 43%,
        #D50078 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .defaultPageHeadingStyle5 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #FFAA00 43%,
        #FFAA00 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  .defaultPageHeadingStyle6 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #EF3232 43%,
        #EF3232 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  .defaultPageHeadingStyle7 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #3BAFDB 43%,
        #3BAFDB 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  .defaultPageHeadingStyle8 {
    text-align: center;
    padding-bottom: 29px;
    margin-bottom: 2.5rem;
    background-image: linear-gradient(
        90deg,
        whitesmoke 0%,
        whitesmoke 20%,
        #34DBBF 43%,
        #34DBBF 55%,
        whitesmoke 78%,
        whitesmoke 100%
      ),
      url(none);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  
  