#footerStyle {
  color: #602874;
  background-color: #e2d1e8;
}

#footerStyle {
  clear: both;
  position: fixed;
  height: 35px;
  overflow: hidden;
  display: block;
  bottom: 0;
  width: 100%;
}

#footerStyle {
  padding: 5px 0px 5px 0px;
  // text-align: center;
}

#footerStyle {
  margin-top: 3px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}
