.videoContainer,
.infoContainer,
.tutorialContainer,
.suggestionContainer,
.settingContainer{
  text-decoration: none;
  color: black;
}
.videoContainer{
  :hover{
    color: #A9ABD1;
  }
}
.infoContainer{
  :hover{
    color: #F1BBCA;
  }
}
.tutorialContainer{
  :hover{
    color: #D3A4CC;
  }
}
.suggestionContainer{
  :hover{
    color: #FFC6C6;
  }

}