// 超連結CSS
.videoListLink {
  text-decoration: none;
  color: #a9abd1;
  //  background-color:#FFF8F7;
}
// 每個影片總時間CSS
.eachVideoListDuration {
  font-size: 1.25rem;
  color: rgba($color: black, $alpha: 0.5);
}

.guestLearningProgressCol{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba($color: black, $alpha: 0.3);
  color: white;
}

.learningProgressCol{
  background-color: rgba($color: #e08fac, $alpha: 0.1)
}
.learningProgressFont{
  color: rgba($color: black, $alpha: 0.5);
}
.learningProgressProgressSuccess{
  color: rgba($color: #00A3A3, $alpha: 0.8);
}
.linkToStartLearning{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #e08fac, $alpha: 0.1);
  border: none;
  outline: none;
  :hover::after{
    border: none;
    text-decoration: none;
  }
}