.videoListLink {
  text-decoration: none;
  color: #a9abd1;
  :hover {
   color: #f1bbca;
   background-color:#FFF8F7;
  }
}

.videoListContainer {
  padding: 0.5rem 0;
  margin: 1rem 0;
  border: 1px solid rgba($color: #e08fac, $alpha: 0.5);
  border-radius: 0.5rem;
}

.eachVideoListDuration{
  font-size: 1.25rem;
  color: rgba($color: black, $alpha: 0.5);
}
