@media only screen and (max-width: 576px) {
  .RegisterCard {
    height: 80vh;
    width: 95vw;
  }
}
@media (min-width: 576px) {
  .RegisterCard {
    height: 85vh;
    width: 65vw;
  }
}
@media (min-width: 768px) {
  .RegisterCard {
    height: 85vh;
    width: 60vw;
  }
}
@media (min-width: 992px) {
  .RegisterCard {
    height: 85vh;
    width: 55vw;
  }
}
@media (min-width: 1200px) {
  .RegisterCard {
    height: 85vh;
    width: 45vw;
  }
}
