#video-container {
  /* position: relative; */
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.video-js {
  width: 100%;
  height: auto;
}

.video-js .vjs-fullscreen-control {
  display: none;
}

.vjs-icon-fullscreen-enter {
  font-size: 2em;
  line-height: 1.67;
  cursor: pointer;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
}

.vjs-icon-fullscreen-exit {
  font-size: 1.8em;
  line-height: 1.67;
  cursor: pointer;
}

.vjs-control .vjs-button {
  cursor: pointer;
}
.text-overlay {
  background-color: rgba(154, 111, 170, 0.1);
}

.text-overlay_title {
  text-align: center;
  background-color: rgba(151, 70, 141, 0.2);
}

.sendBtn {
  /* position: absolute;
  bottom: 0;
  right: 0; */
  margin: 10px;
}

.reset {
  border: 0.15rem rgba(218, 114, 100, 0.5) solid;
}
.reset:hover {
  background-color: rgba(218, 114, 100, 0.5);
  color: #fff;
}
.reset:active,
.reset:focus,
.reset:hover,
.reset:active:focus {
  border: 0.15rem rgba(218, 114, 100, 0.5) solid;
}

.send:hover {
  background-color: rgba(179, 110, 171, 0.5);
  color: #fff;
}
.send {
  font-size: 1.25rem;
  border: 0.15rem rgba(179, 110, 171, 0.5) solid;
}
.send:active,
.send:focus,
.send:hover,
.send:active:focus {
  border: 0.15rem rgba(179, 110, 171, 0.5) solid;
}

.video-container_Container {
  display: block;
}

.videoPlayer{
  max-width: 100%;
  height: auto;
}

.videoPlayer.fullscreen {
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
}
.videoPlayer.fullscreen video{
  object-fit: contain;
}

.videoPlayer.fullscreen video{
  object-fit: contain;
  height: 100% !important;
  width: 100%;
  padding-top: 0 !important;
  margin: 0 auto !important;
}


@media (min-width: 576px) {
  .text-overlay {
    position: absolute;
    left: 30%;
    top: 30%;
    z-index: 9999;
    background-color: #fff;
  }
  .videoPlayer {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .text-overlay {
    position: absolute;
    left: 25%;
    top: 0;
    z-index: 9999;
    background-color: #fff;
  }
  .text-overlay {
    width: 50%;
  }
  .videoPlayer {
    width: 70%;
  }
  .video-container_Container {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .videoPlayer.portrait{
    width: 25%;
  }
  .text-overlay {
    position: unset;
    width: 30%;
  }
  .videoPlayer.fullscreen {
    position: fixed;
    min-height: auto;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
