@media only screen and (max-width: 576px) {
  .ExamVideoInputCard,
  .ExamTitleCard,
  .ExamVideoInfoCard,
  .ExamVideoTypeCard {
    width: 100vw;
    height: 50vh;
  }
  .ExamQusetionCard {
    width: 90vw;
    height: 85vh;
  }
}
@media (min-width: 576px) {
  .ExamVideoInputCard,
  .ExamVideoInfoCard,
  .ExamTitleCard,
  .ExamVideoTypeCard {
    width: 60vw;
    height: 50vh;
  }

  .ExamQusetionCard {
    width: 60vw;
    height: 85vh;
  }

  .ExamVideoFileNameContainer {
    width: 55vw;
  }
}
@media (min-width: 768px) {
  .ExamVideoInputCard,
  .ExamVideoInfoCard,
  .ExamTitleCard,
  .ExamVideoTypeCard {
    width: 55vw;
    height: 50vh;
  }

  .ExamQusetionCard {
    width: 55vw;
    height: 85vh;
  }

  .ExamVideoFileNameContainer {
    width: 50vw;
  }
}
@media (min-width: 992px) {
  .ExamVideoInputCard,
  .ExamVideoInfoCard,
  .ExamTitleCard,
  .ExamVideoTypeCard {
    width: 50vw;
    height: 50vh;
  }

  .ExamQusetionCard {
    width: 50vw;
    height: 85vh;
  }

  .ExamVideoFileNameContainer {
    width: 45vw;
  }
}
@media (min-width: 1200px) {
  .ExamVideoInputCard,
  .ExamVideoInfoCard,
  .ExamTitleCard,
  .ExamVideoTypeCard {
    width: 45vw;
    height: 50vh;
  }

  .ExamQusetionCard {
    width: 45vw;
    height: 85vh;
  }

  .ExamVideoFileNameContainer {
    width: 40vw;
  }
}
@media (min-width: 1500px) {
  .ExamVideoInputCard,
  .ExamVideoInfoCard,
  .ExamTitleCard,
  .ExamVideoTypeCard {
    width: 40vw;
    height: 50vh;
  }
  .ExamQusetionCard {
    width: 35vw;
    height: 85vh;
  }
  .ExamVideoFileNameContainer {
    width: 35vw;
  }
}
